.gitattributes text eol=lf
*.sh text eol=lf

website/docs/legal-review/ap6-2026-08-07-v1/*.md text eol=lf
website/docs/legal-review/ap6-2026-08-07-v1/manifest.json text eol=lf
website/docs/legal-review/ap7-2026-08-11-v1/*.md text eol=lf
website/docs/legal-review/ap7-2026-08-11-v1/manifest.json text eol=lf
website/docs/legal-review/ap8-2026-08-16-v1/*.md text eol=lf
website/docs/legal-review/ap8-2026-08-16-v1/manifest.json text eol=lf
